<div>
	<a href="#photo_box" id="photo">
		<%= image_tag @outfit.outfit_photo.url(:large) %>
	</a>
	
	<div id="photo_box">
		<%= image_tag @outfit.outfit_photo.url(:fz) %>
	</div>
</div>

<div>
  <b>Description:</b>
  <%=h @outfit.description %>
</div>

<div>
	<b>Tagged</b>
	<%= @outfit.tag_list %>
</div>

<div id="votes_<%= @outfit.id %>">
	<%= render :partial => "votes/vote", :locals => {:voteable => @outfit} %>
</div>


<div>
	<%= link_to "flag this oufit", :action => "flag_outfit", :id => @outfit.id %>
</div>

<div>
	<%= render :partial => "comments", :locals => {:outfit => @outfit }%>
</div>

<script type="text/javascript">
	new FancyZoom('photo');
</script>