<div>
	<% for photo in @outfit.photos -%>
	  <%= link_to image_tag(photo.public_filename(:thumb)), photo.public_filename %>
	<% end -%>
</div>

<div>
  <b>Description:</b>
  <%=h @outfit.description %>
</div>

<div>
	<b>Style Rating:</b>
	<%= @outfit.style_rating %> (<%= @outfit.total_votes %> votes)
</div>

<div>
	<%= link_to "vote for", :controller => "outfits", :action => "vote_for", :id => @outfit.id  %> |
	<%= link_to "vote against", :controller => "outfits", :action => "vote_against", :id => @outfit.id  %>
</div>