<div id="outfit_photo">
	<div>
		<a href="#photo_box" id="photo">
			<%= image_tag @outfit.outfit_photo.url(:medium) %>
		</a>
	
		<div id="photo_box">
			<%= image_tag @outfit.outfit_photo.url(:large) %>
		</div>
	</div>
	
	<div id="outfit_tools">
	  
		<div id="votes_<%= @outfit.id %>">
			<%= render :partial => "votes/vote", :locals => {:voteable => @outfit} %>
		</div>
	</div>
</div>

<div id="outfit_about">
	<div id="description">
	  <%=h @outfit.description %>
	</div>

	<div id="user">	
		<p>by <a href="/<%= @outfit.user.login %>"><%= @outfit.user.login %></a></p>
	</div>
	
	<div id="tags">
		<% if @outfit.tags.length > 0 %>
		<b>Tagged</b>: 
			<% for tag in @outfit.tags %>
				<a href="/tags/<%= tag.name %>"><%= tag.name %></a>
			<% end %>
		<% end %>
	</div>
	

	<div id="comments">
		<%= render :partial => "comments", :locals => {:outfit => @outfit }%>
	</div>
</div>


<script type="text/javascript">
	new FancyZoom('photo');
</script>