<div id="outfit_photo">
	<div>
		<a href="#photo_box" id="photo">
			<%= image_tag @outfit.outfit_photo.url(:medium), :alt => "#{@outfit.description} by #{@outfit.user.login}" %>
		</a>
	
		<div id="photo_box">
			<%= image_tag @outfit.outfit_photo.url(:large), :alt => "#{@outfit.description} by #{@outfit.user.login}" %>
		</div>
		
		<p>we've removed some fancy javascript that causes IE to crash.</p>
	</div>
	
	<div id="outfit_tools">
	  
		<div id="votes_<%= @outfit.id %>">
			<%= render :partial => "votes/vote", :locals => {:voteable => @outfit} %>
		</div>
		
		<%= @outfit.style_rating %>
		
		<div id="outfit_nav">
			<h3>View Other Outfits</h3>
			
			<div id="outfit_nav_links">
				<div id="outfit_nav_prev">
				<% if @outfit.find_prev %>
					<%= link_to (image_tag @outfit.find_prev.outfit_photo.url(:square), :alt => "#{@outfit.find_prev.description} by #{@outfit.find_prev.user.login}", :width => "100px", :height => "100px"), @outfit.find_prev %>
					<p><%= link_to "Previous", @outfit.find_prev %>	</p>
				<% else %>
					<%= image_tag "no_more_outfits.png"%>
				<% end %>
				</div>
			
				<div id="outfit_nav_next">
				<% if @outfit.find_next %>
					<%= link_to (image_tag @outfit.find_next.outfit_photo.url(:square), :alt => "#{@outfit.find_next.description} by #{@outfit.find_next.user.login}", :width => "100px", :height => "100px"), @outfit.find_next %>
					<p><%= link_to "Next", @outfit.find_next %>	</p>
				<% else %>
					<%= image_tag "no_more_outfits.png"%>
				<% end %>
				</div>
			</div>
			<div style="clear:both"><p><%= link_to "View All Outfifts", :controller => "outfits" %></p></div>			
		</div>
	</div>
	
	<div>
	</div>
</div>

<div id="outfit_about">
	<div id="description">
	  <%=h @outfit.description %>
	</div>

	<div id="user">	
		<p>by <a href="/<%= @outfit.user.login %>"><%= @outfit.user.login %></a></p>
	</div>
	
	<div id="tags">
		<% if @outfit.tags.length > 0 %>
		<b>Tagged</b>: 
			<% for tag in @outfit.tags %>
				<a href="/tags/<%= tag.name %>"><%= tag.name %></a>
			<% end %>
		<% end %>
	</div>
	

	<div id="comments">
		<%= render :partial => "comments", :locals => {:outfit => @outfit }%>
	</div>
</div>


