<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Outfits: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'app' %>

</head>
<body>

	<div id="head">
		<div id="logo"><a href="/"><img src="/images/logo.png"></a></div>
		<div id="nav">
			<% if current_user %>
				<a href="/logout">logout</a>
			<% else %>
				<a href="/login">login</a> or <a href="/signup">sign up</a>
			<% end %>
		</div
	
	</div>
	
	<div id="container">
		<div id="container_top"></div>
		<div id="container_mid">
			<div style="color: green"><%= flash[:notice] %></div>
			<%= yield  %>
		</div>
		<div id="container_bottom"></div>
	</div>
	
</body>
</html>



