<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stylfy</title>
  <%= javascript_include_tag :defaults, "fancyzoom" %>
  <%= stylesheet_link_tag 'scaffold', 'app' %>

</head>
<body>

	<div id="head">
		<div id="logo"><a href="/"><img src="/images/logo.png"></a></div>
		<div id="toolbar">
			<div id="toolbar_left"></div>
			<div id="toolbar_mid">
			<% if current_user %>
				<a href="/outfits">my outfits</a> | <a href="/outfits/new">new outfit</a> | <a href="/logout">logout</a>
			<% else %>
				<a href="/login">login</a> or <a href="/signup">sign up</a>
			<% end %>
			</div>
			<div id="toolbar_right"></div>
		</div>
	
	</div>
	
	<div id="container">
		<div id="container_top"></div>
		<div id="container_mid">
			<div style="clear:both"></div>
			<% if flash[:notice] %><div id="flash_notice"><%= flash[:notice] %></div><% end %>
			<%= yield  %>
			<div style="clear:both"></div>
		</div>
		<div id="container_bottom"></div>
	</div>
	
	<div id="footer">
		<a href="/">home</a> |
		<% if current_user %>
		<a href="/<%= current_user.login %>">account</a> | <a href="/outfits">my outfits</a> | <a href="/outfits/new">new outfit</a> | <a href="/logout">logout</a>
		<% else %>
			<a href="/login">login</a> or <a href="/signup">sign up</a>
		<% end %>
	</div>


	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-6393953-1");
	pageTracker._trackPageview();
	</script>
	
		
</body>
</html>



